<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="5e9efd2c-19eb-4b86-b7b6-cb864e558e4a"
    Publisher="CN=steve"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="5e9efd2c-19eb-4b86-b7b6-cb864e558e4a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>MSIX</DisplayName>
    <PublisherDisplayName>steve</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <uap3:MainPackageDependency Name="MainPackageIdentityName" />
  </Dependencies>

</Package>